<section id="home">
  <div>
    <p>Hello there, my name is</p>
    <h1 class="name">Gabriel Rodriguez</h1>
  </div>
  <div>
    <img id="avatar" src="assets/images/avatar.png" alt="avatar image">
  </div>
  <div>
    <p>I'm a</p>
    <h1 class="career">Software Developer</h1>
  </div>
</section>
<section class="section-content">
  <app-section-title content="My Beliefs"></app-section-title>
  <img id="avatar" src="assets/images/avatar.png" alt="avatar image">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, qui quo modi maxime temporibus in vero repellat odit sequi delectus magni ex, eligendi quisquam nobis totam culpa, nesciunt nemo explicabo.
  </p>
</section>
<section class="section-content">
  <app-section-title content="What I do"></app-section-title>
  <img id="avatar" src="assets/images/avatar.png" alt="avatar image">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, qui quo modi maxime temporibus in vero repellat odit sequi delectus magni ex, eligendi quisquam nobis totam culpa, nesciunt nemo explicabo.
  </p>
</section>
<section class="section-content">
  <app-section-title content="How I do it"></app-section-title>
  <img id="avatar" src="assets/images/avatar.png" alt="avatar image">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, qui quo modi maxime temporibus in vero repellat odit sequi delectus magni ex, eligendi quisquam nobis totam culpa, nesciunt nemo explicabo.
  </p>
</section>
<section class="section-content">
  <app-section-title content="Builts and practices"></app-section-title>
  <img id="avatar" src="assets/images/avatar.png" alt="avatar image">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, qui quo modi maxime temporibus in vero repellat odit sequi delectus magni ex, eligendi quisquam nobis totam culpa, nesciunt nemo explicabo.
  </p>
</section>
