/* You can add global styles to this file, and also import other style files */
*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  font-size: 69.8%


:root
  --blue-2l: #637CE1
  --blue-1l: #1F44DB
  --blue-0: #1835A8
  --blue-1d: #28335C
  --blue-2d: #0D1D5C
  --yellow: #E6D48C
  --white: #d4d4d4
